@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos da scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #0D5EA6; /* custom-azul-medio */
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #0065F8; /* custom-azul-escuro */
}